.character-list {
    margin: 5% 0 0 0;
}

.characters-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 2% 0 0 0;
}

.characters-list-container > * {
    flex: 1 1 10%;
    margin: 0.4em;
    text-align: left;
    font-size: 1em;
    background-color: white;
    color: #2699FB;
    padding: 0.4em;
}
